<% url = 'https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60' %>
<%= render "components/banner" %>

<div class="container">
  <div class="col-xs-12 col-sm-2">
    <%= render "shared/sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10">
    <div class="row">
      <%  @events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <div class="entire-card">
            <%= link_to '', event_path(event), class: 'card-link' %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= url %>);">
              <div class="heart-quotation">
                <%= link_to new_event_quotation_path(event.id) do %>
                  <i class="far fa-heart"></i>
                <% end %>
              </div>
            </div>
            <div class="card-description">
              <h2><%= event.name %></h2>
              <p>Very cool city, the best</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



