<%= render "components/banner-show" %>
<div class="container">
<%= link_to "Obtenir un devis", new_event_quotation_path(@event.id), class:"quotation-btn" %>
  <div class="col-xs-12 col-sm-2">
    <%= render "shared/sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10">
    <div class="row">
      <h2 class="presentation">Présentation</h2>
      <p><%= @event.description %></p>
    </div>
    <div class="row">
      <h2 class="prestation">Prestations</h2>
    </div>
    <div class="row">


      <% if @event.latitude %>
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>
    </div>
  </div>
</div>
